body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1536px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:215px;
  width:241px;
  height:90px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u159_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:252px;
  width:28px;
  height:1px;
  display:flex;
}
#u160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:714px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:714px;
  display:flex;
}
#u161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:37px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
}
#u162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:417px;
  width:224px;
  height:85px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:550px;
  width:202px;
  height:82px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:417px;
  width:224px;
  height:85px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Negrita', 'Times New Roman Normal', 'Times New Roman', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:96px;
  width:644px;
  height:138px;
  display:flex;
  font-family:'Times New Roman Negrita', 'Times New Roman Normal', 'Times New Roman', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
}
#u166 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u166_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:550px;
  width:202px;
  height:82px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:750px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:714px;
  width:1536px;
  height:750px;
  display:flex;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1330px;
  top:48px;
  width:156px;
  height:40px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
